

.chat-button{
  position:fixed;
  bottom:20px;
  right:20px;
  color:white;
  width:55px;
  height:55px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
  cursor:pointer;
  z-index:999;
 animation:float 2s ease-in-out infinite;

}
.chat-button:hover{
 transform:scale(1.15);
}

.chat-window{
  position:fixed;
  bottom:90px;
  right:20px;
  width:320px;
  height:420px;
  background:white;
  border-radius:10px;
  box-shadow:0 5px 20px rgba(186, 116, 116, 0.2);
  display:flex;
  flex-direction:column;
  overflow:hidden;
  z-index:999;
}


.chat-header{
  background:#7b77ce;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.chat-header button{
  background:none;
  border:none;
  color:white;
  cursor:pointer;
}

.chat-body{
  flex:1;
  padding:10px;
  overflow-y:auto;
}


.user-msg{
  background:#6c68d6;
  color:white;
  padding:8px;
  border-radius:10px;
  margin:5px 0;
  align-self:flex-end;
  max-width:80%;
}

.bot-msg{
  background:#eee;
  padding:8px;
  border-radius:10px;
  margin:5px 0;
  max-width:80%;
}


.chat-input{
  display:flex;
  border-top:1px solid #ddd;
}

.chat-input input{
  flex:1;
  border:none;
  padding:10px;
}

.chat-input button{
  border:none;
  background:#5d6ddf;
  color:white;
  padding:10px;
  cursor:pointer;
}

