.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f2f5;
}

.login-box {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.login-box a {
  text-decoration: none; /* bỏ gạch chân */
  color: #64b5f6; /* xanh nhạt */
  transition: color 0.3s ease; /* hiệu ứng mượt khi đổi màu */
}

.login-box a:hover {
  color: #e53935; /* đỏ khi di chuột */
}

.login-title {
  text-align: center;
  color: #1976d2;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.passwordBox {
  position: relative;
}

.togglePassword {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color: #1976d2;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.remember {
  display: flex;
  align-items: center;
  gap: 6px; /* khoảng cách checkbox và chữ */
  white-space: nowrap;
  flex-shrink: 0;
}

.signinBtn {
  width: 100%;
  padding: 12px;
  background: #65a6e7;
  color: #fff;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
}

.signinBtn:hover {
  background: #25abe4;
}

.register,
.divider,
.terms {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.socialLogin {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}

.googleBtn,
.facebookBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
}

.googleBtn img,
.facebookBtn img {
  width: 20px;
  height: 20px;
}
