.container-section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  background: linear-gradient(135deg, #f5f7fa, #e4e7eb);
  background-image: url("../../../../../../public/assets/images/banner.jpg");
  background-size: 1480px;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  margin-top: 50px;

}

.left {
  max-width: 550px;
}

.badge {
  display: inline-block;
  padding: 6px 14px;
  background: #f1e2dd;
  color: #7d2f1c;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
  width: 350px;
  justify-content: center;
  text-align: center;

}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #434446;
  line-height: 1.2;
}

h1 span {
  color: #b74435;
}

.subtitle {
  margin-top: 20px;
  font-size: 18px;
  color: #4b5563;
}

.description {
  margin-top: 16px;
  font-size: 16px;
  color: #6b7280;
  line-height: 1.6;
}

.features {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  font-weight: 500;
  color: #a13a34;
}

.actions {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  background: #b74435;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #b74435;
}

.community {
  color: #6b7280;
  font-size: 14px;
}

.right img {
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .right img {
    margin-top: 30px;
    width: 100%;
  }
}