* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #121212;
  line-height: 1.6;
}

/* Nếu muốn style chung cho tất cả section */
.section {
  padding: 60px 40px;
  border-bottom: 1px solid #333;
}
